#footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $dark-grey;
    #footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: $white;
        padding: $padding * 2 $padding * 4;
    
        div {
            width: 100%;
            &:not(:last-child) {
                padding-bottom: $padding;
            }
        }
    
        .top-row-footer {
            display: flex;
            flex-direction: column;
    
            #footer-logo-container {
                @include query(desktop) {
                    text-align: left;
                }
            }
    
            #footer-logo-container a {
                font-weight: 600;
                font-size: 1.25rem;
                @include query(tablet) {
                    font-size: 2rem;
                }
            }
        
            #socials-container {
                display: flex;
                justify-content: space-between;
                gap: $gap / 2;
                text-align: center;
                @include query(tablet) {
                    width: 50vw;
                    margin: 0 auto;
                }
            }
        
            .social-link {
                color: $white;
                font-size: 1.1rem;
                transition: all .1s ease-out;
                &:hover {
                    color: $internet-red;
                }
                @include query(tablet) {
                    font-size: 1.9rem;
                }
            }
    
            @include query(desktop) {
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 3px solid $light-grey;
            }
        }
    
        #footer-nav {
            display: flex;
            flex-direction: column;
    
            .footer-link {
                font-size: 0.8rem;
                transition: all .1s ease-out;
                &:hover {
                    color: $internet-red;
                }
                @include query(tablet) {
                    font-size: 1.1rem;
                }
                @include query(desktop) {
                    padding-left: $padding * 2;
                }
            }
    
            @include query(desktop) {
                flex-direction: row;
                justify-content: flex-end;
                margin-top: $margin / 2;
    
            }
        }
    
        #tag-container {
            color: $light-grey;
            font-size: 0.8rem;
            @include query(tablet) {
                font-size: 1.1rem;
            }
        }

        @include query(desktop) {
            width: 80vw;
        }
    }
}