html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    letter-spacing: 1.5px;
    font-family:  'Jost', sans-serif;
}

button {
    min-width: 150px;
    padding: 1rem 1.875rem;
    cursor: pointer;
    border: 3px solid $dark-grey;
    border-radius: 50px;
    color: $dark-grey;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 1.5px;
}


a {
    color: $white;
    text-decoration: none;
    &:visited {
        color: $white;
    }
}


