// BREAKPOINTS 
$bp: (
    mobile: 576px,
    tablet: 768px,
    desktop: 1025px
);

// SPACES
$gap: 2vh;
$margin: 4vh;
$padding: 2vh;

// COLORS
$dark-grey: #2d3030;
$light-grey: #4f5354;
$white: white;
$internet-red: #D88;
$band-yellow: #FF0;